<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- General Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Permissions for external storage access -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- Only for Android 28 and below -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- Only for Android 28 and below -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        android:required="true"
        tools:ignore="SelectedPhotoAccess" /> <!-- For Android 13 and above -->

    <!-- Application Configuration -->
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/e_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/e_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpirEase"
        tools:targetApi="31">

        <!-- Activities -->
        <activity android:name=".NotificationsActivity" android:exported="false" />
        <activity android:name=".helperNotif.NotificationCustomListViewAdapter" android:exported="false" />
        <activity android:name=".helperNotif.NotificationRecyclerViewAdapter" android:exported="false" />
        <activity android:name=".helperNotif.NotificationDetailsDialogFragment" android:exported="false" />
        <activity android:name=".helper.ItemDetailsActivity" android:exported="false" />
        <activity android:name=".CustomListViewActivity" android:exported="false" />
        <activity android:name=".HomeWithFragmentActivity" android:exported="false" android:theme="@style/Theme.ExpirEase"/>
        <activity android:name=".DevelopersActivity" android:exported="false" />
        <activity android:name=".LogoutActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".SplashScreenActivity" android:exported="false"/>
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Firebase Service -->
        <service android:name=".MyFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="expiry_notifications" />
    </application>
</manifest>
